/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.mapbox-image {
	display: block;
	max-width: 100%;
	margin: 1rem auto;
}
